body{
    background: rgb(123, 164, 185);
}
body{
    background: rgb(225, 166, 166);
  }
  .App{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border: solid black;
min-height: 100vh;
color: aliceblue;
  }